{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
<style>
  body {
    background-image: url(/static/img/snow_falling3.gif);
  }
</style>
{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="text-center logo my-4">
      <a href="{% url 'home' %}">Class Wiki Beta</a>
    </h1>
    {% block content %}
    {% endblock %}
  </div>
{% endblock %}
