{% extends 'base.html' %}

{% block title %}Enter a new class{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Conversations</a></li>
  <li class="breadcrumb-item"><a href="{% url 'class_wiki' %}"> Class Wiki </a></li>
  <li class="breadcrumb-item"><a href="{% url 'class_wiki_details' class_wiki.pk %}"> {{ class_wiki }} </a></li>
  <li class="breadcrumb-item"><a href="{% url 'class_wiki_topics' class_wiki.pk %}"> Topics </a></li>
  <li class="breadcrumb-item active"> New Topic </li>

{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success" style="margin-bottom: 1%;">Post</button>
  </form>
{% endblock %}
