{% extends 'base.html' %}

{% block title %}Start a New Topic{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active"><a> Your Profile </a></li>
{% endblock %}

{% block content %}
<h4> {{ user.username }} </h4>
<p style="margin-top: 0%; margin-left: 0%; padding: 0% 0%; color: darkgrey; font-weight: 500;">  Create your profile </a>
  <form method="post" style="margin-right: 2%;" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success" style="margin-bottom: 2%;">Post</button>
  </form>
{% endblock %}
