{% extends 'base.html' %}

{% block title %}Update bio{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'personal_profile' %}">My Profile</a></li>
  <li class="breadcrumb-item active">Edit {{ field }}</li>
{% endblock %}

{% block content %}
<h4> {{ user.username }} </h4>
<p style="margin-top: 0%; margin-left: 0%; padding: 0% 0%; color: darkgrey; font-weight: 500;">  Update {{ field }} </a>
  <form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Post</button>
  </form>
{% endblock %}
